/* _____________________  Darkmode _____________________ */

/* The colors will change, this depents on the users setting prefferences */
@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #2d3134;
    --accent-color: #f3510a;
    --bg-color: #202124;
    --text-color: #fefefd;
    --header-color: #f3510a;

    --header-text: #202020;
    --price-color: #f3510a;
    --heart-color: #f3510a;
    --toggle-button: #f3510a;
  }

  body > header p {
    text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
  }
}
