@media print {
  :root {
    --main-color: #2d3134;
    --accent-color: #f3510a;
    --bg-color: #202124;

    --accent-color: #f3510a;
    --bg-color: #fefefd;
    --text-color: #000;
    --header-color: #000;
    --main-color: #f3510a;

    --header-text: #000;
    --price-color: #fff;
    --heart-color: #fff;
    --toggle-button: #000;
  }
  @page {
    margin-top: 11.1111%;
    margin-right: 11.1111%;
    margin-bottom: 22.2222%;
    margin-left: 11.1111%;
  }
  @page: left {
    margin-right: 22.2222%;
  }
  @page: right {
    margin-right: 22.2222%;
  }
  @page: first {
    margin-right: 22.2222%;
  }

  body {
    background: none;
  }

  section {
    display: flex;
    flex-wrap: wrap;

    page-break-after: always;
    page-break-inside: avoid;
    -webkit-region-break-inside: avoid;
  }

  body > header {
    background: none;
    font-size: 2rem;
    box-shadow: none;
  }

  body > header h1,
  body > header p {
    text-shadow: none;
  }

  body > header h1 span:nth-child(2) {
    color: var(--accent-color);
  }

  body > header p {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    font-size: 2rem;
  }
  body > header p::after {
    content: attr(data-print);
    white-space: pre-wrap;
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--accent-color);
    text-transform: uppercase;
  }

  article h3,
  article p,
  article div {
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: #000;
  }

  article h3 {
    color: var(--accent-color);
  }

  article {
    width: 33.333%;
    background: none;
    border-right: 1px solid black;
    border-radius: 0;
    min-height: none;
    padding: 1.2rem;
    margin: 0;
    box-shadow: none;
  }

  article:nth-child(4),
  article:nth-child(7),
  article:nth-child(10) {
    border-right: 0;
  }

  article * {
    letter-spacing: 0;
  }
  section header {
    min-width: 100%;
    padding-bottom: 2cm;

    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #1e3799;
  }

  main input,
  main label {
    display: none;
  }
}
