/* _____________________  Main styling _____________________ */

:root {
  --main-color: #f3510a;
  --accent-color: #f3510a;
  --bg-color: #fefefd;
  --text-color: #fff;
  --header-color: #000;

  --header-text: #fefefd;
  --price-color: #fff;
  --heart-color: #fff;
  --toggle-button: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  background-color: var(--bg-color);
  font-family: "IBM Plex Sans", sans-serif;
}

/* Checkbox hack toggle */
main > label {
  color: var(--toggle-button);
  font-size: 0.7rem;
}

main input {
  margin: 1rem 0.5rem 1rem 1rem;
}

/* MAIN HEADER  */
body > header {
  background-color: var(--main-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
  transform-origin: center top;
  box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);
}

body > header h1 {
  color: var(--header-text);
  font-size: 4rem;
  letter-spacing: 0.1em;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}

body > header p {
  color: var(--header-text);

  font-size: 2rem;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}

/* Creating the main grid  */
section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header header header"
    "a b c"
    "d e f"
    "g h i";
  /* grid-template-columns: repeat(auto-fit, minmax(600px, 1fr)); */
}

section header {
  grid-area: header;

  position: relative;
  min-height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section header h2 {
  top: 0.7rem;
  font-weight: 500;
  letter-spacing: 4px;
  font-size: 2.5rem;
  text-transform: uppercase;
}

section header h2,
section header p {
  min-width: 5rem;
  text-align: center;
  color: var(--header-color);
}

section header p {
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 1px;
}

/* Each recepy is stored in an article */
article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: var(--main-color);

  color: var(--text-color);
  min-height: 10rem;
  padding: 3rem 2rem;
  margin: 1.5rem;
  border-radius: 11px;

  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* In each article there is a heart icon you can press */
article input:first-of-type {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  -webkit-appearance: none;
}

article input:first-of-type:before {
  content: "\f08a";
  font-family: "FontAwesome";
  font-size: 1.1rem;
  color: var(--heart-color);
  outline: none;
  border: none;
  transition: 0.3s all;
}

/* This changes the collor of the heart when it gets clicked */
article input:first-of-type:checked:before {
  content: "\f004";
  font-family: "FontAwesome";
  color: var(--heart-color);
}

article h3 {
  padding-bottom: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 7px;
}
article p {
  padding-bottom: 1rem;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
  text-transform: capitalize;
}

article div {
  color: var(--price-color);
  font-size: 1.3rem;
}

/* This places an euro sign before the price  */
article div::before {
  content: "\20AC ";
  font-size: 1.1rem;
  padding-right: 0.5rem;
}

/* Because i'm using named grid areas i couldnt figure out how to make them responsive without using @media but i know several ways to make do it without named grid areas */
@media (max-width: 800px) {
  section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "header header"
      "a b"
      "c d"
      "e f"
      "g h"
      "i j";
  }
}

@media (max-width: 500px) {
  section {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "a"
      "b"
      "c"
      "d"
      "e"
      "f"
      "g"
      "h"
      "i";
  }

  body > header h1 {
    font-size: 13vw;
  }

  body > header p {
    font-size: 8vw;
  }
}
